HYPERSWITCH_BASE_URL=https://sandbox.hyperswitch.io
HYPERSWITCH_API_KEY=
HYPERSWITCH_PUBLISHABLE_KEY=
HYPERSWITCH_ADMIN_API_KEY=
HYPERSWITCH_VAULT_API_KEY=
HYPERSWITCH_API_KEY_HEADER=api-key
HYPERSWITCH_MERCHANT_ID=
HYPERSWITCH_TIMEOUT_SECONDS=20
HYPERSWITCH_MAX_RETRIES=3
HYPERSWITCH_RETRY_BACKOFF_MS=200
HYPERSWITCH_PAYMENT_METHOD_SESSION_PATH=/v2/payment-method-session
PAYMENTS_PORT=9000
